configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun,window,run,windowcd,combi,keys";
  display-drun:       "apps";
  columns: 2;
}
