/**
 * This theme is intended for a 8x2 items list menu with a headerbar.
 */
@import "shared/settings.rasi"
*{
  border-radius:20px ;
}
#window {
  padding: 10px 10px;
  width: 70%;
  height: 40%;
  }
#element {
  padding: 40px 40px 40px 40px;
  border:0px;
  border-radius:20px ;
}

listview {
    layout:horizontal;
    fixed-columns : 6;
}
element.active{
    background-color:@on;
    text-color: @background-focus;
}
