/**
 * This theme is intended for a 8 items list on a 1920x1080 pixels resolution.
 * You may have to tweak values such as the window padding if you have a different resolution.
 */
@import "shared/settings.rasi"
* {
  text-color: @foreground-list;
  font: @text-font;
}
#prompt{
text-color: @background-focus;}
element.active{
    background-color: #7cb342 ;
    text-color: @background-focus;
}
element selected.active {
    background-color: #7cb342 ;
    text-color: @background-focus;
    }
