/**
 * This theme is intended for a 8x2 items list menu with a headerbar.
 */
@import "shared/settings.rasi"
* {
  text-color: @foreground;
  font: @text-font;
  background-color: #0000;
}
#window {
  width: 30%;
  height:50%;
}

